DJANGO_DEBUG=true
DJANGO_SECRET_KEY=replace-me
DJANGO_ALLOWED_HOSTS=127.0.0.1,localhost
DJANGO_CORS_ALLOWED_ORIGINS=http://localhost:5173
DJANGO_CSRF_TRUSTED_ORIGINS=http://localhost:5173
FAL_KEY=your_fal_key_here
DEFAULT_TEST_USERNAME=coffee
DEFAULT_TEST_PASSWORD=coffe20
